<!-- <form class="emp_form" #employeeForm="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput name="FirstName" #FirstName="ngModel" [(ngModel)]="employeeService.selectedEmployee.FirstName" required>
        <mat-error *ngIf="FirstName.invalid && FirstName.touched">First Name is Required</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput name="LastName" #LastName="ngModel" [(ngModel)]="employeeService.selectedEmployee.LastName" required>
        <mat-error *ngIf="LastName.invalid && LastName.touched">Last Name is Required</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Employee Code</mat-label>
        <input matInput name="EmpCode" #EmpCode="ngModel" [(ngModel)]="employeeService.selectedEmployee.EmpCode"   required>
        <mat-error *ngIf="EmpCode.invalid && EmpCode.touched">Employee Code is Required</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput name="Position" #Position="ngModel" [(ngModel)]="employeeService.selectedEmployee.Position"   required>
        <mat-error *ngIf="Position.invalid && Position.touched">Employee Position is Required</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Office</mat-label>
        <input matInput name="Office" #Office="ngModel" [(ngModel)]="employeeService.selectedEmployee.Office"   >
      </mat-form-field>
      <div class="action_wrapper">
          <button mat-flat-button class="btn save" type="submit" [disabled]="!employeeForm.valid">Save</button>
          <button mat-flat-button class="btn cancel" type="button" (click)="resetForm(employeeForm)">Reset</button>
      </div>
</form> -->