@import "../../../../styles.scss";

:host {
  display: flex;
  width: 100%;
}
.panel_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: $primary_gray;
    &.reorder_container {
      grid-column: 1/4;
    }
    &.active_orders_container {
      grid-column: 4/10;
    }
    &.profile_container {
      grid-column: 10/13;
    }

    .date_time{
      display: grid;
      place-items: center;
      height: 5rem;
      width: 100%;
      margin: auto;

      .time{
        font-size: 1.875rem;
        letter-spacing: 0.625rem;
        margin-bottom: 1rem;
      }
      .date{
        font-size: 20px;
      }
      .note{
        color: $text_color;
      }
    }

    .user_profile {
      display: flex;
      border-radius: 4px;
      background: $primary_color;
      height: 10rem;
      overflow: hidden;
      .image_wrapper {
        height: 100%;
        min-width: 8rem;
        border-radius: inherit;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        padding: 1rem 0;
        color: $text_color;
        transition: transform 0.5s ease-in-out;
        transform: translateX(7%);
        .user_name {
          font-size: 1.25rem;
          color: $text_color;
        }
        .designation {
          color: $text_color;
        }
        .user_name,
        .designation,
        .email,
        .phone,
        .address{
          @include ellipsis();
        }
        &.active{
          transform: translateX(144%);
        }
      }

      .more_info_slider {
        display: flex;
        gap: 1rem;
        flex: 2;
        transition: transform 0.5s ease-in-out;
        transform: translateX(25%);
        .slider_action {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: .8rem;
          background: $key_color;
          cursor: pointer;
          border-radius: 0 4px 4px 0;
          &::before {
            content: "";
            position: absolute;
            right: 0.2rem;
            width: 18px;
            height: 18px;
            transform: rotate(45deg);
            background: $key_color;
          }
        }
        .detaile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          width: 14rem;
          color: $text_color;
          .purchase,
          .sale {
            display: flex;
            flex-direction: column;
            padding-right: 1rem;
            gap: 0.5rem;
            .today {
              display: flex;
              align-items: center;
              justify-content: space-between;
              @include ellipsis();
              .value{
                letter-spacing: 0.0625rem;
              }
            }
          }
        }

        &.active {
          transform: translateX(-71%);
          .slider_action{
            &::before {
              right: -0.5rem;
            }
          }
        }

        mat-divider {
          border-color: $secondary_color;
        }
      }
    }

    .container_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.125rem;
      .icon {
        font-size: 1.3rem;
      }
    }
    .container_content {
      display: flex;
      flex-direction: column;
      .content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.75rem;
        padding: 0 1rem;
        &.orders {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr;
        }
      }
      .content_wrapper {
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: calc(100vh - 20rem);

        .single_content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 1rem;
          height: 2.75rem;
          min-height: 2.75rem;
          cursor: pointer;
          &:not(:nth-last-child(1)){
            border-bottom: $border;
          }
          &.orders {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr;
          }
          &:hover {
            color: $key_color;
            background: rgba($key_color, 0.1);
          }
          &.min_stock{
            color: $key_color;
            font-weight: 600;
          }
        }
      }
    }
  }
}
