@import "../../../../styles.scss";

:host{
    width: 100%;
    height: 100%;
}

.panel_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    .panel_header{
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        padding: 1rem;
        background: $primary_gray;
        color: $primary_color;
        .panel_title{
            font-size: 20px;
        }
    }

    .panel_content{
        display: flex;
        .content_box{
            background: #eee;
            padding: 1rem;
            height: 100%;
        }
    }
}