@import "../../../../../../styles.scss";
:host{
    min-width: 100%;
}

.header_wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 .5rem;
    .logo{
        width: 8rem;
        height: 6rem;
        padding: 1rem;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .header_title{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title{
            color: $key_color;
            font-size:  $component_title;
           
        }
        .sub_title{
            color: $text_color;
            font-size: $component_subtitle;
        }
    }
    .header_right_actions{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
        button{
            background: rgba($key_color, .1);
        }
        .icon{
            color: $key_color;
        }
        .user_image_wrapper{
            display: grid;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 3.125rem;
            overflow: hidden;
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
