<div class="header_wrapper">
    <div class="logo">
        <img src="../../../../../../assets/images/techwake_logo.svg" alt="">
    </div>
    <div class="header_title">
        <span class="title">{{component_title}}</span>
        <span class="sub_title">{{component_sub_title}} - {{totalCompanies.length}}</span>
    </div>

    <div class="header_right_actions">
        <div class="user_image_wrapper">
            <img src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
        <button mat-icon-button>
            <span class="icon material-icons">
                email
                </span>
        </button>
        <button mat-icon-button>
            <span class="icon material-icons">
                notifications_none
                </span>
        </button>
        <button mat-icon-button>
            <span class="icon material-icons">
                power_settings_new
                </span>
        </button>
        
        
    </div>
    
</div>