@import "../styles.scss";
.panel_container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    .panel_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 1/13;
        height: 6.25rem;
        background: $primary_color;
    }
    .panel_sidebar{
        height: 100%;
        grid-column: 1/1;
        background: $primary_color;
    }
    .panel_content{
        display: flex;
        grid-column: 2/13;
        min-height: calc(100vh - 10rem);
        width: 100%;
        background: $primary_gray;
        
        .sub_sidebar{
            display: flex;
            align-items: center;
            background: rgb(26 31 41 / 90%);



        }
    }
    .panel_footer{
        grid-column: 1/13;
        background: $primary_color;
        height: 3.75rem;
    }
}