<div class="panel_container">
    <div class="panel_header">
        <span class="title">Category List</span>
        <button mat-flat-button (click)="addNew()">Add Category</button>
    </div>
    <div class="panel_content">
        <div class="category_wrapper">
            <div class="cate_header">
                <div class="single_category">
                    <span class="cate_name">Category Name</span>
                    <span class="cate_name">{{cateList.length}}</span>
                </div>
            </div>
            <div class="cate_body">
                <div class="single_category" *ngFor="let cate of cateList">
                    <span class="cate_name">{{cate.CategoryName}}</span>
                    <span class="icon-close" (click)="deleteCate(cate)"></span>
                </div>
                <div class="single_category new" *ngIf="isNew">
                    <input type="text" (keyup.enter)="addCategory()"   [(ngModel)]="CategoryName" placeholder="Category Name">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>