@import "../../../../../../styles.scss";
.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  .single_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 5rem;
    height: 4.375rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    .icon{
        font-size: 2rem;
        color: $secondary_color;
    }
    .title{
      color: $text_color;
      text-transform: capitalize;
      font-size: 0.75rem;
    }
    &.active,
    &:hover{
        .icon{
            color: $key_color;
            filter: drop-shadow(0 0 6px $key_color);
        }
        .title{
            color: $key_color;
            
        }
    }
    
  }
}
