<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()" data-backdrop="static" data-keyboard="false">
  Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-ml">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-new-employee [emp]="emp" *ngIf="ActivateAddEditEmpComp"></app-new-employee>
      </div>

    </div>
  </div>
</div>



<div class="panel_container">
  <div class="panel_header">
    <span class="panel_title">Employee List</span>
    <span>Total {{employeeList.length}}</span>
  </div>
  <div class="panel_content">
    <div class="table_wrapper">
      <div class="table_header">
        <div class="single_row">
          <span class="single_col code">Emp Code</span>
          <span class="single_col name">Employee Name</span>
          <span class="single_col department">Department</span>
          <span class="single_col mobile">Mobile</span>
          <span class="single_col email">Email</span>
          <span class="single_col address">Address</span>
          <span class="single_col date">Date of Joining</span>
          <span class="single_col salary">Salary</span>
          <span class="single_col action">Action</span>
        </div>
      </div>
      <div class="table_body">
        <div class="single_row" *ngFor="let emp of employeeList" >
          <span class="single_col code">{{emp.EmployeeCode}}</span>
          <span class="single_col name">{{emp.EmployeeName}}</span>
          <span class="single_col department">{{emp.Department}}</span>
          <span class="single_col mobile">{{emp.MobileNo}}</span>
          <span class="single_col email">{{emp.EmailId}}</span>
          <span class="single_col address">{{emp.Address}}</span>
          <span class="single_col date">{{emp.DateOfJoining}}</span>
          <span class="single_col salary">{{emp.Salary |currency:'BDT' : 'symbol-narrow'}}</span>
          <div class="single_col action">
            <button mat-icon-button data-bs-toggle="modal" data-bs-target="#exampleModal" 
            data-backdrop="static" data-keyboard="false" (click)="editClick(emp)">
              <span class="edit icon-edit" ></span>
            </button>
            
            <button mat-icon-button (click)="onDelete(emp)">
              <span class="remove icon-delete" ></span>
            </button>
          
          </div>
          
        </div>
      </div>
    </div>
    
  
  </div>
</div>