@import "../../../../../../styles.scss";

:host {
  color: $primary_color;
  display: flex;
  width: 100%;
}

.panel_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .action_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    .new_product,
    .filter {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .filter {
      flex: 1;
      .icon_search {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #ccc;
      }
    }
    .search_box {
      display: flex;
      align-items: center;
      background: #fff;
      padding: 1rem;
      border-radius: 4px;
      border: $border;
      height: 3rem;
      .mat-form-field {
        margin-top: 0.5rem;
        min-width: 100%;
        @include remove_line();
      }
    }
  }

  .container_header {
    padding: 1rem 2rem 0 1rem;
  }

  .panel_content {
    padding: 1rem;
    .product_table_header {
      font-weight: bold;
      &:hover {
        background: #fff;
      }
    }
  }
  .product_wrapper {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 23rem);
    overflow: auto;
    flex: 1;
    @include slim_scroll($primary_color, #ccc);
  }
  .single_product {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 1rem;
    gap: 1rem;
    height: 39px;
    background: #fff;

    &:not(:nth-last-child(1)) {
      border-bottom: $border;
    }
    cursor: pointer;
    &:hover {
      background: $hover;
      .action{
        display: flex;
      }

    }
    &.min_stock {
      color: #f00;
    }
    .action {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      gap: 1rem;
      display: none;
    }
  }
}
