@import "../../../../../../styles.scss";

:host {
  color: $text_color;
  display: flex;
  width: 100%;
}

.panel_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .action_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .new_product,
    .filter{
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    
    
  }

  .container_header{
      padding: 1rem 2rem 0 1rem;
      
  }
  .product_wrapper {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20.5rem);
    overflow: auto;
    padding: 1rem;
    gap: 0.2rem;
    flex: 1;
    
  }
  .single_product {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 1rem;
    gap: 1rem;
    height: 39px;
    background: rgba($primary_color, .5);
    cursor: pointer;
    &:hover{
        background: $primary_color;
    }
    &.min_stock{
      background: #350f00;
    }
  }
}
