@import "../../../../../../styles.scss";

.panel_container {
  display: flex;
  flex-direction: column;
  .content_wrapper {
    display: flex;
    gap: 1rem;
    .left_content {
      display: flex;
      flex-direction: column;
      label {
        white-space: nowrap;
      }
    }
  }

 
}
.fontent_footer {
    display: flex;
    align-items: center;
    height: 50px;
    button {
      height: 100%;
      flex: 1;
      &.btn_save_update {
        background: $key_color;
        color: #fff;
      }
    }
  }
.image_wrapper {
  width: 20rem;
  height: 30rem;

  img {
    object-fit: cover;
    border: 2px solid $primary_color;
  }
}
