@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import "../src/assets/styles/colors";
@import "../src/assets/styles/typo.scss";
@import "../src/assets/styles/mixin.scss";
@import "../src/assets/styles/helper.scss";
@import "../src/assets/styles/variables.scss";
@import "../src/assets/styles/icomoon.scss";

// @import "../src/assets/icomoon/style.css";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: 'Comfortaa', cursive !important;
  ul {
    list-style-type: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}
html,
body {
  height: 100%;
}

*{
  box-sizing: border-box;
}

