@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import "../src/assets/styles/colors";
@import "../src/assets/styles/typo.scss";
@import "../src/assets/styles/mixin.scss";
@import "../src/assets/styles/helper.scss";
@import "../src/assets/styles/variables.scss";

// @import "../src/assets/icomoon/style.css";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: 'Comfortaa', cursive !important;
  ul {
    list-style-type: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}
html,
body {
  height: 100%;
}

*{
  box-sizing: border-box;
}


// icomoon-----------------------------------
@font-face {
  font-family: "icomoon";
  src: url("../../stock-mangement-system/src/assets/icomoon/fonts/icomoon.eot?h42uqa");
  src: url("../../stock-mangement-system/src/assets/icomoon/fonts/icomoon.eot?h42uqa#iefix")
      format("embedded-opentype"),
    url("../../stock-mangement-system/src/assets/icomoon/fonts/icomoon.ttf?h42uqa")
      format("truetype"),
    url("../../stock-mangement-system/src/assets/icomoon/fonts/icomoon.woff?h42uqa")
      format("woff"),
    url("../../stock-mangement-system/src/assets/icomoon/fonts/icomoon.svg?h42uqa#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e90f";
}
.icon-01:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-customer:before {
  content: "\e903";
}
.icon-damage:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e908";
}
.icon-product:before {
  content: "\e909";
}
.icon-report:before {
  content: "\e90a";
}
.icon-sale:before {
  content: "\e90b";
}
.icon-stock:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-purchase:before {
  content: "\e910";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-employee:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e911";
}
.icon-settings:before {
  content: "\e912";
}