
.isDisable {
    pointer-events: none;
    color: #ccc !important;
    cursor: none !important;
    opacity: 0.8;
}

.confirm {
    color: #f00;
}
.panel_container{
    display: flex;
    flex-direction: column;
}

.panel_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.125rem;
    padding: 1rem;
}